.backgroundimg {
  background-image: url(../Assets/mypic-ori1.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: top right;
  position: relative;
}

/* @media (max-width: 550px) {
  .backgroundimg {
    background-image: url(../Assets/phonepic2.jpg);
  }
} */

.dot {
  list-style: none;
}

.dot li::before {
  content: "\2022";
  color: white;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: 2px;
}

.dot li {
  color: red;
}
