/* .mainContainerContactForm {
  display: flex;
  gap: 300px;
  width: 700px;
  margin-top: 80px;
  margin-bottom: 120px;
  margin-left: 220px;
} */

.containerContactForm {
  display: grid;
  grid-template-columns: 270px 270px;
  grid-template-rows: 50px 50px 100px;
  gap: 8px;
  border-radius: 10px;
  margin-left: 60px;
  grid-row: 1/-4;
  grid-column: 1/-4;
}

.btnSend {
  border: none;
  width: 50%;
  margin-top: 10px;
  height: 40px;
  background-color: greenyellow;
  border-radius: 20px;
  cursor: pointer;
  position: block;
}

.btnSend:hover {
  background-color: aquamarine;
}

.message {
  grid-column: 1/-1;
  border-radius: 20px;
  color: red;
}

.success {
  color: green;
}

.danger {
  color: red;
}

@media (max-width: 550px) {
  .containerContactForm {
    grid-template-columns: 200px 200px;
    margin-left: 0;
  }

  .btnSend {
    position: relative;
    left: 75%;
  }
}
